.Messages {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  /*TODO: убрать если не понравится*/
  padding-right:50px;
  box-sizing: border-box;
}

.MessagesMessage {
  width: 100%;
  display: flex;
}

.MessagesMessageUser {
  justify-content: flex-end;
}
